nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: #333; */
    background-color: var(--color-secundario);
    color: #fff;
    padding: 1rem;
}

.header-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-links li {
    margin-right: 1rem;
}

.header-links li:last-child {
    margin-right: 0;
}

.header-links a {
    color: var(--color-cuarto);
    /* color: #fff; */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}